body{
    background-color: black;
}

h1{
    color:blueviolet;
    font-size: medium;
    font-family: Arial;
}

h2{
    color:coral;
}

p{
    color:darkgrey;
    font-size: 14;
    font-family: Arial;
    
}